/* 
 * Libreria creada por: Manuel Luna /  Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    background-color: #FAF5FE;
    padding: 0px;
}
html{ width: 100%; }
body {
    margin: 0px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 1em;
    width: 100%;
    height: auto;
}
.header {
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
}
.header{ border-bottom: 1px solid #671578; height: auto; }
/*.footer{ border-top: 1px solid #671578; background-color: #5F6A70; border-bottom: 9px solid #671578; height: 156px; }*/
/*.logoheader, .logofooter{
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
}
.logoheader img, .logofooter img{
    position: relative;
    top: 30px;
}
.txtheader, .txtfooter{
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 5em;
}
.txtheader{ font-size: 2em; color: #5e6b70; text-align: right; }
.txtfooter{ font-size: 0.8em; color: #ACB2B8; text-align: center; }
.box-txtheader, .box-txtfooter{ font-weight: bold; position: relative; width: 50%; }
.box-txtheader{ top: 30px; }
.box-txtfooter{ top: 40px; }*/
/*** ELEMENTS ***/
.tab-on-enter { /* elements focus */ }
.hide-close .ui-dialog-titlebar-close { display: none; }
.addObject{ }
.objectError{
    -moz-box-shadow: 0px 0px 10px #dd2c2c;
    -webkit-box-shadow: 0px 0px 10px #dd2c2c;
    box-shadow: 0px 0px 10px #dd2c2c;
}
.upper{ text-transform: uppercase; }
.lower{ text-transform: lowercase; }
.cleared{ clear: both;  display: no-fixed; font-size: 1px; }

/**** ELEMENTS MODAL ****/
.flex-modal-produccion,
.flex-modal-ordenesComp,
.flex-modal-polizas,
.flex-modal-tacome{
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: -moz-flex;
    -moz-flex-direction: row;
}

.flex-modal-break{
    clear: both;
    flex-direction: column;
}

.flex-modal-left-tab{
/*    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;*/
    padding: 1em 1em 1em 0px;
}
.block-info{ 
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    padding: 1em;
}
.block-info-tab{ 
/*    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;*/
    padding-bottom: 1em;
}
.block-info-tab-checkBox {
    padding-bottom: 1em;
    margin-left: 2em;
}
.oLabel-left{ margin-right: 3px; font-weight: bold; }
.oInput{
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .2em;
    width: 100%;
}
.oInput:hover, :focus{
    -moz-box-shadow: 0px 0px 10px #2c85dd;
    -webkit-box-shadow: 0px 0px 10px #2c85dd;
    box-shadow: 0px 0px 10px #2c85dd;
}
.oSelect-normal-tab{
    border:2px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: .2em;
    width: 100%;
}
.oSelect-normal{
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .2em;
    width: 200px;
}
.div-oLabel-tab{ width: 150px; text-align: left; display: inline-block; }
.div-oLabel-tab02{ width: 150px; text-align: left; display: inline-block; }
.div-dataInput-tab { width: 198px; display: inline-block; }
/*.div-oImage-tabs{
    width: 240px;
    height: 180px;
    background-color: #fcfcfc;
    border: 1px solid #000000;
}*/
.tabs-usuarios-botones,
.tabs-botones-reportes { display: flex; flex-direction: row; justify-content: space-around; }
.usuarios-botones { }
hr{ border-bottom: 1px solid #aed0ea; width: 90%; border-top: 0.5px solid #222222; width: 90%; }
.baseImagen{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    width: 320px;
    height: 320px;
    background-color: #727272;
    margin: 0 auto;
}
.imagenRegistro{
    /*background: url('../images/noimage.jpg') center no-repeat;*/
/*    background-size: 95%; */
    width: 100%;
    height: 100%;
    padding: 2px;
}
input[readonly] { background-color: #D4D0C8; font-weight: bold; text-align: center; }
.div-oList{background-color:#fff;padding:0px;height:400px;overflow:auto;}
.div-oList table{border-collapse:collapse;width:100%;}
.div-oList table td{cursor: not-allowed;border:1px solid;padding:3px;}