/* 
 * Libreria creada por: Manuel Luna /  Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
/**** CONTAINER - MAIN ****/
.container-main{
    clear: both;
    width: 1200px;
    margin: 0 auto;
}
.div-buscaRegistros {
    width: 95%;
    clear: both;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    margin: 0 auto;
}
.buscaRegistros {
    width: 50%;
}
.boton-nuevoRegistro {
    width: 49%;
    text-align: right;
    margin-top: 25px;
}
.buscaRegistros h3 {
    display: inline-block;
    width: 30%;
}
.buscaRegistros input { 
    display: inline-block;
    width: 30%;
    font-size: 14px;
    padding: 3px;
}
.cerrar-tabs { }
.campoRequerido { }
.ocultaTabs { }
.datosFormulasTelas { }
.autocomplete-urdimbre,
.autocomplete-trama,
.autocomplete-orillo { width: 280px; }
.div-autocomplete{}
/**** OCULTA CONTROLES ****/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }
input[type=number] { text-align: right; }
/**** AUTOCOMPLETE ****/
.ui-autocomplete {
    position:absolute;
    cursor:default;
    z-index:1000 !important;
    max-height: 110px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 0.8em;
}
.guarda-datos-curso{}
.ui-menu .ui-menu-item-wrapper{ font-size: 0.9em; }