/* 
 * Libreria creada por: Diego Fernández, Manuel Luna, Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    /*background-color: #FAF5FE;*/
    padding: 0px;
}
html{ 
    width: 100%; 
    
}
body {
    margin: 0px;
    width: 100%;
    height: auto;
    background : url('../img/telas.png') no-repeat 0 0 / cover;
}
.header, .footer{
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}
.header{ border-bottom: 1px solid #671578; height: 156px }
.footer{ border-top: 1px solid #671578; background-color: #5F6A70; border-bottom: 9px solid #671578; height: 156px;}
.logoheader, .logofooter{
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
}
.logoheader img, .logofooter img{
    position: relative;
    top: 30px;
}
.txtheader, .txtfooter{
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 5em;
}
.txtheader{ font-size: 2em; color: #5e6b70; text-align: right; }
.txtfooter{ font-size: 0.8em; color: #ACB2B8; text-align: center; }
.box-txtheader, .box-txtfooter{ font-weight: bold; position: relative; width: 50%; }
.box-txtheader{ top: 45px; }
.box-txtfooter{ top: 40px; }
.cleared{ clear: both; display: fixed; font-size: 1px; }
/*  */
.container-central{
    clear: both;
    display: block;
    width: 1000px;
    margin: 0 auto;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif; /*Tahoma,Arial,Verdana;*/
    /*font-size: 0.8em;*/
}
.container-central{ height: 500px; }
.box-login{
    width: 400px;
    height: 265px;
    /*border: 1px solid #671578;*/
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 250px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.box-data-login{
    width: 100%;
    height: 240px;
    border: 2px solid #671578;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.header-login{
    line-height: 2;
    background-color: #671578;
    color: #faf5fe;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.data01{ display: flex;  flex-direction: row; flex-wrap: wrap; margin: 0 0 1.2em 10px; }
h4{ color: #6B1576; font-weight: bold; margin: 1em 0 5px 0; }
.divSpacingLine{ border-bottom: 1px solid #671578; margin-bottom: 0.5em; width: 40%; }
.block-info{ display: block; float: left; width: 30%; margin-right: 0.3em; font-size: 0.8em;}
.block-sondeo{ display: block; width: 100%; font-weight: 100; font-size: 0.8em; }
.upper{ text-transform: uppercase; }
.lower{ text-transform: lowercase; }
.oInput{
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .2em;
    margin-left: 10px;
    width: 75%;
}
.oLabel{
    /*display: inline-block;*/
    width: 20%;
    font-weight: bold;
    margin-top: 5px;
    text-align: right;
}
.spacingLine{
    border-bottom: 1px solid #671578;
    width: 95%;
    /*height: 20px;*/
    text-align: center;
    margin: 0 auto;
}
#btnAceptarLogin:hover{
    background:-webkit-linear-gradient(180deg, rgb(103, 21, 120) 0%, rgb(72, 15, 85) 100%);
    background:-moz-linear-gradient(180deg, rgb(103, 21, 120) 0%, rgb(72, 15, 85) 100%);
    background:-o-linear-gradient(180deg, rgb(103, 21, 120) 0%, rgb(72, 15, 85) 100%);
    background: linear-gradient(180deg, rgb(103, 21, 120) 0%, rgb(72, 15, 85) 100%);
    color: #f9f7f7;
    font-weight: bold;
}
.oInput:hover, :focus{
    -moz-box-shadow: 0px 0px 10px #2c85dd;
    -webkit-box-shadow: 0px 0px 10px #2c85dd;
    box-shadow: 0px 0px 10px #2c85dd;
}
#username-error.error, #password-error.error { 
    font-weight: bold; 
    margin: 5px 0 0 85px;
    color : #ffff4d; 
}
