/* 
 * Libreria creada por: Manuel Luna /  Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    background-color: #fefefe;  #f3f3f3 
    width: 100%;  1366px; 
    height: 45px;
    padding: 0px;
}


}*/
.body-menu {
    margin: 0px;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-feature-settings : "liga", "kern";
    text-rendering: optimizelegibility;
}
.header-menu{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 52px;
    position:fixed;
    z-index: 100;
}
.productname{
    width: 15%;
    height: inherit;
}
.productname, .username{
    display: inline-block;
    overflow: auto;
    zoom: 1;
    align-items: center;
    justify-content: center;
}
.productname h2{
   line-height: 1.8; 
}
.productname h2, .username span{
    margin: 0 auto;
    text-align: center;
    color: #f2f2f2; 
}
.username{
    width: 17%;
    float: right;
    line-height: 47px;
}
.username span{
    font-size: 0.8em;
}
/**** BARRA DE MENU ****/
.menubar{
    clear: both;
    display: inline-block;
    margin: 0 auto;
    width: 65%;
    height: 45px;
    text-align: center;
}

nav {
    display: inline-block;
    margin: 0px auto;
    width: auto;
    height: inherit;
    /*text-align: center;*/
    /*clear: both;*/
}
nav > ul {
    display: inline-block;
    text-align: left;
    width: 100%;
    margin: 0px;
    list-style: none;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*top: -15px;*/
}
nav > ul > li {
    display: block;
    float:left;
    position: relative;
    width: 120px;
    height: 45px;
    align-items: center;
    justify-content: center;
    /*background-color: #333333;*/
}
nav >ul > li ul.children li{display:block;width:100%;position:relative;}
/*nav ul li#buscador {
	float: right;
	position: relative;
}*/
nav ul li a {/*Listas primer nivel*/
    font-weight: bold;
    font-size: 14px;
    color: #fefefe;
    text-decoration: none;
    display: block;
    /*float:left;*/
    padding: 13px;
    text-align: center;
}
nav ul li a:hover, nav ul li a.active {/*Estado Hover/Activo de los enlaces*/
/*	background: #1d1d1d;
	color: #b11e15;*/
        color: #b6b6b6;
	font-weight: bold;
}
nav > ul > li ul.children {/*Estilos de la lista secundaria*/
    margin: 0px;
    padding: 0px;
    width: 150px;
    position: absolute;
    left: 0px;
    top: 100%;
    border: 0;
    filter: alpha(opacity=0); /* Internet Explorer*/
    /*overflow: hidden;*/
    /*background: #1D1D1D;*/
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 5px 5px;
    transition: all 0.3s ease-in-out 0s;
    display:none;
}
nav ul li ul.children li ul.children
{
    left:100%;
    top:0;
}
nav ul li ul.children li a{
    width: 150px;
}
nav ul li:hover > ul.children{ 
    display: block;
    
}

nav ul li ul.children li a{
	color: #fefefe !important;
	font-weight: normal;
	padding: 13px 0 13px 20px;
	/*width: 130px;*/
	border-bottom: 1px solid #f9f9f9;
	/*background: url(img/arrow-normal.png) no-repeat 7px center !important;*/
	font-size: 12px;
        text-align: left;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
nav > ul > li > ul.children li:first-child a{border-top:1px solid #fff;}
nav ul li ul li a:hover{
	/*color: #b11e15 !important;*/
        color: #b6b6b6 !important;
	font-weight: bold;
	padding-left:28px;
/*	background: url(img/arrow.png) no-repeat 15px center !important;*/
}

#_nav ul#menu:after {
	/* Posiciona la sobora por detras del color de la caja*/
	z-index: -1;
	position: absolute;
	/* no aplico ningún contenidos HTML */
	content: "";
	/* posiciona la sombra con respecto al derecho y superior */
	right: 10px;
	top: 45%;
	/* configura el ancho */
	width: 48%;
	height: 20px;
	/* color de fondo */
	background: #000000;
	/* definicion de la sombra estandar para box-shadow */
	box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
	/* rotacion de la sombra */
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}
#_nav ul#menu:before{
	/* Posiciona la sobora por detras del color de la caja*/
	z-index: -1;
	position: absolute;
	/* no aplico ningún contenidos HTML */
	content: "";
	/* posiciona la sombra con respecto al izquierdo y superior */
	left: 10px;
	top: 45%;
	/* configura el ancho */
	width: 50%;
	height: 20px;
	/* color de fondo */
	background: #000000;
	/* definicion de la sombra estandar para box-shadow */
	box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 8px 7px rgba(0, 0, 0, 0.7);
	/* rotacion de la sombra */
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
nav ul li ul#menu:before,nav ul li ul#menu:after{visibility:hidden;}