/* 
 * por: Rsistemas, Manuel Luna
 * 2018-04-30
 * SiLan v1.0
*/
/**** CONTAINER - MAIN ****/
.container-main{
    clear: both;
    width: 1200px;
    margin: 0 auto;
}
.div-buscaRegistros {
    width: 95%;
    clear: both;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    margin: 0 auto;
}
.buscaRegistros {
    width: 50%;
}
.boton-nuevoRegistro {
    width: 49%;
    text-align: right;
    margin-top: 25px;
}
.buscaRegistros h3 {
    display: inline-block;
    width: 30%;
}
.buscaRegistros input { 
    display: inline-block;
    width: 30%;
    font-size: 14px;
    padding: 3px;
}
.cerrar-tabs { }

