/* 
 * Libreria creada por: Manuel Luna /  Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
/**** CONTAINER - MAIN ****/
.container-main{
    clear: both;
    width: 1200px;
    margin: 20px auto;
}