/* 
 * Libreria creada por: Manuel Luna /  Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
/**** CONTAINER ****/
.container-salidas_pt{
    clear: both;
    display: block;
    width: 98%;
    margin: 0 auto;
    padding: 1%;
}
/**** ELEMENTS MODAL ****/
.flex-modal-salidas_pt{
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: -moz-flex;
    -moz-flex-direction: row;
}

