/* 
 * Libreria creada por: Diego Fernández, Manuel Luna, Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #FAF5FE;
    padding: 0px;
}

html{ width: 100%; }

body {
    margin: 0px;
    font-family: Tahoma,Arial,Verdana;
    font-size: 1em;
    width: 100%;
    height: auto;
}

.header, .footer{
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.header{ border-bottom: 1px solid #671578; height: auto; }

.footer{ border-top: 1px solid #671578; background-color: #5F6A70; border-bottom: 9px solid #671578; height: 156px; }

.logoheader, .logofooter{
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
}

.logoheader img, .logofooter img{
    position: relative;
    top: 30px;
}

.txtheader, .txtfooter{
    width: 40%;
    height: 100%;
    float: right;
    padding-right: 5em;
}

.txtheader{ font-size: 2em; color: #5e6b70; text-align: right; }

.txtfooter{ font-size: 0.8em; color: #ACB2B8; text-align: center; }

.box-txtheader, .box-txtfooter{ font-weight: bold; position: relative; width: 50%; }

.box-txtheader{ top: 30px; }

.box-txtfooter{ top: 40px; }

/*** ELEMENTS ***/
.tab-on-enter { /* elements focus */ }

.hide-close .ui-dialog-titlebar-close { display: none }

.addObject{ }

.objectError{
    -moz-box-shadow: 0px 0px 10px #dd2c2c;
    -webkit-box-shadow: 0px 0px 10px #dd2c2c;
    box-shadow: 0px 0px 10px #dd2c2c;
}

.upper{ text-transform: uppercase; }

.lower{ text-transform: lowercase; }

.cleared{ clear: both; display: fixed; font-size: 1px; }

.flex-modal-left{
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    margin: 1em 0em;
}
.block-info{ 
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    padding: 1em;
}
.oLabel-left{ margin-right: 3px; font-weight: bold; }
.oInput{
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .2em;
}
.oInput:hover, :focus{
    -moz-box-shadow: 0px 0px 10px #2c85dd;
    -webkit-box-shadow: 0px 0px 10px #2c85dd;
    box-shadow: 0px 0px 10px #2c85dd;
}
.oSelect-normal{
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .2em;
}
.div-oLabel{ width: 40%; text-align: right; display: inline-block; }
.div-dataInput { width: 58%; display: inline-block; }
.div-oImage{
    width: 530px;
    height: 380px;
    background-color: #fcfcfc;
}

.div-oList{
    width: 530px;
    height: 350px;
    background-color: #fcfcfc;
    overflow-y: scroll;
}

.listaPiezas{
    cursor: not-allowed;
    height: 17px;
}

.listaPiezas:hover{
    background-color: rgb(234, 246, 246);
}