/* 
 * Libreria creada por: Manuel Luna /  Francisco J Gonzalez Zarazua
 * SiLan v1.0
 * MEXICO, 2017
*/
/*** TABLA - VIEW RECORDS ***/
.tableRecords{
    clear: both;
    display: block;
    overflow-y:scroll;
    width : 95%;
    height : auto;
    border : 1px solid #000000;
    margin: 0 auto;
}
.tableRecords table {
    table-layout: fixed;
    width: 100%;
}
.tableHead {
    background-color: #8fb6d2;
    text-align: left;
    font-size: 12px;
    color: #fefefe;
}
thead {
    table-layout: fixed;
}
.tableHead th {
    padding-left : 5px;
}
/**** DOS COLUMNAS ****/
.th-col02-col01 { width: 30%; text-align: center; }
.th-col02-col02 { width: 70%; text-align: center; }
.td-col02-col01 { width: 30%; text-align: right; }
.td-col02-col02 { width: 70%; margin-right: 2px; text-align: right; }
/**** TRES COLUMNAS ****/
.th-col03-col01 { width: 20%; text-align: center; }
.th-col03-col02 { width: 35%; text-align: center; }
.th-col03-col03 { width: 45%; text-align: center; }
.td-col03-col01 { width: 20%; text-align: center; }
.td-col03-col02 { width: 35%; text-align: right; }
.td-col03-col03 { width: 45%; text-align: right; }
/***** CUATRO COLUMNAS REPORTE DE SALIDA *****/
.th-col04-col01 { width: 25%; text-align: center; }
.th-col04-col02 { width: 25%; text-align: center; }
.th-col04-col03 { width: 25%; text-align: center; }
.th-col04-col04 { width: 25%; text-align: center; }
.td-col04-col01 { width: 25%; text-align: center; }
.td-col04-col02 { width: 25%; padding-right: 3px; text-align: right; }
.td-col04-col03 { width: 25%; padding-right: 3px; text-align: right; }
.td-col04-col04 { width: 25%; padding-right: 3px; text-align: right; }
/**** CINCO COLUMNAS ****/
.th-col05-col01 { width: 10%; text-align: center; }
.th-col05-col02 { width: 10%; text-align: center; }
.th-col05-col03 { width: 35%; text-align: center; }
.th-col05-col04 { width: 35%; text-align: center; }
.th-col05-col05 { width: 10%; text-align: center; }
.td-col05-col01 { width: 10%; text-align: center; }
.td-col05-col02 { width: 10%; text-align: center; }
.td-col05-col03 { width: 35%; text-align: center; }
.td-col05-col04 { width: 35%; text-align: center; }
.td-col05-col05 { width: 10%; text-align: center; }
/**** SEIS COLUMNAS ****/
.th-col06-col01 { width: 14.28%; }
.th-col06-col02 { width: 14.28%; }
.th-col06-col03 { width: 14.28%; }
.th-col06-col04 { width: 14.28%; }
.th-col06-col05 { width: 14.28%; }
.th-col06-col06 { width: 14.28%; }
.td-col06-col01 { width: 14.28%; }
.td-col06-col02 { width: 14.28%; }
.td-col06-col03 { width: 14.28%; }
.td-col06-col04 { width: 14.28%; }
.td-col06-col05 { width: 14.28%; }
.td-col06-col06 { width: 14.28%; }
/**** CINCO COLUMNAS POLIZAS ****/
.th-col05-col01-p { width: 20%; text-align: center; }
.th-col05-col02-p { width: 20%; text-align: center; }
.th-col05-col03-p { width: 20%; text-align: center; }
.th-col05-col04-p { width: 20%; text-align: center; }
.th-col05-col05-p { width: 20%; text-align: center; }
.td-col05-col01-p { width: 20%; text-align: center; }
.td-col05-col02-p { width: 20%; text-align: center; }
.td-col05-col03-p { width: 20%; text-align: center; }
.td-col05-col04-p { width: 20%; text-align: center; }
.td-col05-col05-p { width: 20%; text-align: center; }
.tableRecords tbody {
    font-size: 12px;
    color : #000333;
    word-wrap : break-word;
    padding: 2px;
    background-color: #ffffff;
}
tbody tr:hover td {
    background-color: #222b38;
    color : #fefefe;
    cursor: pointer;
}
.registroSeleccionado{
    font-weight : bold;
    background-color: #222b38;
    color : #fefefe;
}
.renglonesGrid { }
.renglonesGridCurso { }
.renglonesGridPorcentajes { }
.cel-readonly { margin-right: 2px; background-color: #D4D0C8; font-weight: bold; }
.input-table-curso { border: 0px; text-align: right; margin-right: 2px; width: 120px; padding: 2px; }
.agregar-curso { }